*{
  font-family: Segoe UI;
}

body {
  margin: 0px
}

a {
  list-style: none;
  text-decoration: none;
}

button,
select {
  padding: 3px 8px;
  min-width: 50px;
  margin: 5px; 
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background-color: rgb(155, 155, 255);
}

button:hover{
  transform: scale(1.07);
  color: whitesmoke;
}

.light button:hover{
  box-shadow: 0px 0px 10px cornflowerblue;
}

.dark button:hover{
  box-shadow: 0px 0px 10px pink;
}

label {
  width: 200px;
  display: block; 
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;  
}

 .card {
  box-shadow: 0px 2px 3px grey;
  margin: 10px; 
  border-radius: 4px;
} 

.EditRecipePage,
.AddRecipe
{
  background: #ffd2ec;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0px;
}

.AddRecipe{
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  border-radius: 4px;
}

.AddRecipe:hover{
  filter: drop-shadow(2px 2px 4px rgba(21, 120, 128, 0.5));
}


.EditRecipePage form,
.AddRecipe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

#deleteRecipe{
  background-color: red;
}

#recipeCard{
  width: 230px; 
  height: 300px; 
  margin: 10px;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  color: black;
  background-color: whitesmoke;
}

#recipeCard:hover {
  background-color: rgb(255, 212, 227);
  transform: scale(1.07);
  box-shadow: 0px 0px 10px lightblue;
}

#table{
  margin-top: 50px;
}

#showFormToggle{
  background-color: rgb(137, 207, 240);
  margin-top: 50px;
}

.light {
  background-color: white;
}
 
.dark {
  background-color: #0e090fd3;
}
 
.Navbar.light {
  background-color: pink;
 box-shadow: 1px 1px 2px  rgb(143, 115, 219); 
  max-height: 50px;
  padding-bottom: 15px;
  filter: drop-shadow(2px 2px 2px rgba(21, 120, 128, 0.5));
}
 
.Navbar.dark {
  background-color: #252526;
  box-shadow: 1px 1px 2px pink;
  padding-bottom: 15px;
  max-height: 50px;
  filter: drop-shadow(2px 2px 2px rgba(255, 192, 203));
}

.light a,
.light p,
.light h1,
.light h3 {
  color: #000000;
  
}
 
.dark a,
.dark p,
.dark h2,
.dark span {
  color: #ffffff;
  margin-top: 0px;
}

.dark form{
  background-color: #708090;
}

.dark h2{
  margin-top: 20px;

}

.dark h1{
  color: white;
}

.HomePage{
   height: 100vh; 
   padding-top: 20px;
}

.RecipeListPage{
  height: 100vh;
  padding-bottom: 500px;
}

.RecipeDetails{
  height: 100vh;
  padding-top: 20px;
}

#sunMoon{
  width: 20px;
  height: 20px;
}

.EditRecipePage {
  height: 100vh; 
  width: 1330px;
  padding-right: 20px;
  padding-top: 20px;
}

.EditRecipeForm { 
  background-color: rgb(255, 106, 106);
  margin-top: 10px; 
  max-width: 400px;
  margin-left: 460px;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  border-radius: 5px;
}

.selected {
  text-shadow: 1px 0px 3px white;
  color: white;
  border-bottom: white solid 2px;
  padding-bottom: 5px;
}

.selected button{
 color: white;
}

#darkToggle{
  background-color: whitesmoke;
  color: black;
}

#lightToggle{
  background-color: black;
  color: white;
}

.loginPage{
  height: 100vh; 
  width: 1330px;
  padding-right: 20px;
  padding-top: 20px;
}

.signupPage{
  height: 100vh; 
  width: 1330px;
  padding-right: 20px;
  padding-top: 20px;
}

.loginSignupForm{
  background-color: rgb(180, 148, 255);
  margin-top: 10px;  
  max-width: 400px;
  margin-left: 460px;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  border-radius: 5px;
}

.loginSignupButton{
  background-color: gray;
}

#welcome{
  font-weight: bold;
}

.redirectMessages{
  margin-top: 0px;
}

.navbarLoggedOut{
  display: flex;
  flex-direction: row;
}

.toggleTheme{
margin-left: 900px;
}

.toggleThemeTwo{
  margin-left: 400px;
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  min-width: 50px;
  }

#authButtons{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.navbarLoggedIn{
  display: flex;
  flex-direction: row;
}

#pageSelect{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 6px;
}

.error-message{
  padding: 5px;
  background-color: red;
  max-width: 350px;
  margin-left: 482px;
  border-radius: 5px;
}

#searchBar{
  width: 400px;
  margin-right: 47px;
}

#back{
  margin-top: 100px;
  background-color: gray;
}

 #cutlery{
 margin-left: 390px;
 padding-top: 6px;
} 

.toggleButtons{
  max-height: 30px;
}