*{
  font-family: Segoe UI, Helvetica, sans-serif;
}

body {
  margin: 0px
}

a {
  list-style: none;
  text-decoration: none;
}

button,
select {
  padding: 3px 8px;
  min-width: 50px;
  margin: 5px; 
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background-color: rgb(155, 155, 255);
}

button:hover{
  transform: scale(1.07);
  color: whitesmoke;
}

.light button:hover{
  box-shadow: 0px 0px 10px cornflowerblue;
}

.dark button:hover{
  box-shadow: 0px 0px 10px pink;
}

label {
  width: 200px;
  display: block; 
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;  
}

 .card {
  box-shadow: 0px 2px 3px grey;
  margin: 10px; 
  border-radius: 4px;
} 

.EditRecipePage,
.AddRecipe
{
  background: #ffd2ec;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0px;
  float: center;
}

.AddRecipe{
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  border-radius: 4px;
}

.AddRecipe:hover{
  filter: drop-shadow(2px 2px 4px rgba(21, 120, 128, 0.5));
}


.EditRecipePage form,
.AddRecipe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

#deleteRecipe{
  background-color: red;
}

.recipeCard{
  width: 230px; 
  height: 300px; 
  margin: 10px;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  color: black;
  background-color: whitesmoke;
}

.recipePic{
  height:200px; 
  width:175px
}

.recipeCard:hover {
  background-color: rgb(255, 212, 227);
  transform: scale(1.07);
  box-shadow: 0px 0px 10px lightblue;
}

#table{
  margin-top: 50px;
}

.showFormToggle{
  background-color: rgb(137, 207, 240);
  margin-top: 50px;
}

.light {
  background-color: white;
}
 
.dark {
  background-color: #0e090fd3;
}
 
.Navbar.light {
  background-color: pink;
  box-shadow: 1px 1px 2px  rgb(143, 115, 219); 
  max-height: 50px;
  padding-bottom: 15px;
  filter: drop-shadow(2px 2px 2px rgba(21, 120, 128, 0.5));
}
 
.Navbar.dark {
  background-color: #252526;
  box-shadow: 1px 1px 2px pink;
  padding-bottom: 15px;
  max-height: 50px;
  filter: drop-shadow(2px 2px 2px rgba(255, 192, 203));
}

.light a,
.light p,
.light h1,
.light h3 {
  color: #000000;
  
}
 
.dark a,
.dark p,
.dark h2 {
  color: #ffffff;
  margin-top: 0px;
}

.dark form{
  background-color: #708090;
}

.dark h2{
  margin-top: 20px;

}

.dark h1{
  color: white;
}

.HomePage{
   height: 100vh; 
   padding-top: 20px;
}

.RecipeListPage{
  height: 100%;
  padding-top: 20px;
}

.RecipeDetails{
  height: 100vh;
  padding-top: 20px;
}

.recipeDetails{
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: justify;
}

#sunMoon{
  width: 20px;
  height: 20px;
}

.EditRecipePage {
  height: 100vh; 
  width: 100%;
  padding-top: 20px;
}

.EditRecipeForm { 
  background-color: rgb(255, 106, 106);
  margin-top: 10px; 
  max-width: 400px;
  margin-left: 460px;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  border-radius: 5px;
}

.selected {
  text-shadow: 1px 0px 3px white;
  color: white;
  border-bottom: white solid 2px;
  padding-bottom: 5px;
}

.selected button{
 color: white;
}

#darkToggle{
  background-color: whitesmoke;
  color: black;
}

#lightToggle{
  background-color: black;
  color: white;
}

.loginPage{
  height: 100vh; 
  width: 100%;
  padding-top: 20px;
}

.signupPage{
  height: 100vh; 
  width: 100%;
  padding-top: 20px;
}

.loginTitle{
  font-size: xx-large;
}

 .loginSignupForm{
  background-color: rgb(180, 148, 255);
  margin-top: 10px;  
  max-width: 400px;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  border-radius: 5px;
} 

.loginSignupButton{
  background-color: gray;
}

#welcome{
  font-weight: bold;
}

.redirectMessages{
  margin-top: 0px;
}

.navbarLoggedOut{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleTheme{
  margin-right: 50px;
}

.toggleThemeTwo{
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  min-width: 50px;
  margin-right: 50px;
  }

#authButtons{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.navbarLoggedIn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pageSelect{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 6px;
}

.error-message{
  padding: 5px;
  background-color: red;
  max-width: 350px;
  border-radius: 5px;
}

.searchBar{
  width: 400px;
   margin-right: 47px; 
}

#back{
  margin-top: 100px;
  background-color: gray;
}


 
 .cutlery{
  position: absolute;
 margin-left: 47vw;
 margin-top: 3px;
} 

.toggleButtons{
  max-height: 30px;
}

#loginInput{
  float: right;
  margin-right: 275px;
  width: 274px;
}

#signupInput{
  float: right;
  margin-right: 275px;
 
}

.logo{
  margin-top: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.smallLogo{
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 405px;
}

.smallLogoSL{
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 277px;
}

.errorPage{
  height: 100vh;
  padding-top: 10px;
}

.veganVegetarianFilters{
  display: flex;
  flex-direction: row;
  max-width: 300px;
}

.checkboxEdit{
  display: flex;
  flex-direction: row;
}

.veggieCheckboxes{
  display: flex;
  flex-direction: row;
  margin-left: 34vw;
  color: green;
}

.homeButtons{
  background-color: pink;
}

#defaultProfilePic{
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 10vw;
  border-radius: 50%;
}

#userInfo{
display: flex;
flex-direction: column;
float: left;
}


#deleteAccount{
  margin-left: 5vw;
}

#deleteAccount:hover{
cursor: pointer;
}

 .uploadimage{
  margin-left: 3vw;  
  margin-top: 0vh;
} 

#checking{
  max-width: 30vh;
  margin-left: 5vw;
  margin-top: 30vh;
  position: absolute;
  color: red;
  font-weight: bold;
}

#yesNo{
  display: flex;
  flex-direction: row;
  margin-left: 7vw;
  margin-top: 10vh;
}

#yes{
  margin-left: 1vw;
  cursor: pointer;
}

#no{
  margin-left: 1vw;
  cursor: pointer;
}

#reCentering {
  margin-left: 20vw;
}

.myRecipes{
  padding-top: 20px;
  height: 100%;
}

#everyUser{
  margin-bottom: 0;
}

.FeedbackList li{
  margin: 20px;
  padding: 40px;
  background: white;
  border: 2px;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dark .search{
color: white;
} 

.dark .feedback{
  color: black;
}

.randomRecipe{
  height: 100vh;
  padding-top: 20px
}

.clipLoader{
  position: absolute;
  margin-left: 33vw;
  margin-top: 10vh;
}

.noRecipes{
  margin-top: 50px;
}

.creatorDetails{
 display: flex;
 flex-direction: row;
 position: absolute;
 background-color: whitesmoke;
 border-radius: 5px;
 padding: 0 5px 0 5px;  
 margin-left: 10vw;
}

.creatorName{
  display: flex;
  flex-direction: column;
  text-align: justify;
}

#creator{
  margin-left: 5px
}

 .courseType{
  margin-right: 20vw; 
} 

#courseTypeSelect{
  display: flex;
  flex-direction: column;
}

.courseTypeFilter{
margin-left: 22vw;
}

.dark .uploadimage{
  margin-left: 50px;
  background-color: rgb(55, 51, 56)
}

.uploadimage:hover{
  cursor: pointer;
}

#creatorImage{
  height: 10vh;
  width: 5vw;
  margin-left: 2vw
}

#userName{
  position: absolute;
  margin-left: 20vw;
}

.clip{
  position: absolute;
}

.toggleButtons {
  display: flex;
  align-items: center;
}

.toggleButtons > img {
  margin-left: 5px;
}

.recenteringProfile{
   margin-right: 20vw; 
}

.addRecipeProfile{
  margin-left: 20vw;
}

/* Below are media queries for responsivity */

@media (max-width: 768px) {
  .cutlery {
    display: none;
  }
}

@media (max-width: 1100px) and (min-width:936px) {
  .logo {
    position: absolute;
   left: 100px;
  }
  #loginInput {
    position: absolute;
margin-left: 600px;
  }
  #signupInput {
    position: absolute;
margin-left: 600px;
  }
}


@media (max-width: 935px) {
  .logo {
    display: none;
  }
}

@media (min-width: 936px) {
  .smallLogo {
    display: none;
  }
}

@media (min-width: 936px) {
  .smallLogoSL {
    display: none;
  }
}

@media (max-width: 822px) {
  #loginInput {
    position: absolute;
    left: 200px;
  }
}

@media (max-width: 630px) {
  #loginInput {
    position: absolute;
    left: 100px;
  }
}

@media (max-width: 822px) {
  #signupInput {
    position: absolute;
    left: 200px;
  }
}

@media (max-width: 700px) {
  #signupInput {
    position: absolute;
    left: 100px;
  }
}

@media (max-width: 630px) {
  #signupInput {
    position: absolute;
    left: 50px;
  }
}

@media (max-width: 411px) {
  .smallLogo {
    position: absolute;
    left: 50px;
  }
  #loginInput{
    position: absolute;
    left: 50px;
  }
  #authButtons{
    position: absolute;
    left: 50px;
  }
}

@media (max-width: 350px) {
  .smallLogo {
    position: absolute;
    left: 0px;
  }
  #loginInput{
    position: absolute;
    left: 0px;
  }
  #authButtons{
    position: absolute;
    left: 0px;
  }
}

@media (max-width: 580px) {
  #pageSelect {
    margin-left: 50px;
  }
}

@media (max-width: 550px) {
  #pageSelect {
    margin-left: 10px;
  }
}

@media (max-width: 550px) {
  .toggleThemeTwo {
    margin-right: 10px;
  }
}

@media (max-width: 320px) {
  .toggleThemeTwo {
    flex-direction: column;
  }
}

@media (max-width: 340px) {
  #pageSelect {
    margin-left: 0px;

  }
}

@media (max-width: 340px) {
  .toggleThemeTwo {
    margin-right: 0px;
  }
}

@media (max-width: 435px) {
  .toggleThemeTwo button {
    padding: 4px;
    font-size: 1rem;
  }
}

@media (max-width: 435px) {
  #pageSelect button {
    padding: 4px;
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .toggleThemeTwo button {
    padding: 0px;
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  #pageSelect button {
    padding: 0px;
    font-size: 1rem;
  }
}

   @media (max-width: 1009px) {
    .veggieCheckboxes {
      margin-left: 29vw;
    }
  } 

  @media (max-width: 923px) {
    .veggieCheckboxes {
      margin-left: 27vw;
    }
  } 

  @media (max-width: 825px) {
    .veggieCheckboxes {
      margin-left: 24vw;
    }
  } 

  @media (max-width: 690px) {
    .veggieCheckboxes {
      margin-left: 19vw;
    }
  } 

  @media (max-width: 610px) {
    .veggieCheckboxes {
      margin-left: 15vw;
    }
  } 

  @media (max-width: 516px) {
    .veggieCheckboxes {
      margin-left: 8vw;
    }
  } 

  @media (max-width: 452px) {
    .veggieCheckboxes {
      margin-left: 1vw;
    }
  } 

  @media (max-width: 375px) {
    .veggieCheckboxes {
      margin-left: 0vw;
    }
  } 

  @media (max-width: 375px) {
    .veggieCheckboxes {
      margin-left: -5vw;
    }
  } 

  @media (max-width: 334px) {
    .veggieCheckboxes {
      margin-left: -20vw;
      font-size: x-small;
      flex-direction: column;
      padding: 0;
    }
  } 

  @media (min-width: 1003px) {
    #profileRecipes{
      display: none;
    }
  } 

  @media (max-width: 1002px) {
    #userInfo{
      display: inline-block;
      vertical-align: top;
      top: 0;
      float: none;
    }
    #userName{
      margin-top: -150px;
    }
    #profileRecipes{
      font-size: small;
    }
    .showFormToggleProfile{
      margin-top: 0px;
      margin-left: 250px;
    }
    .myRecipesTitle{
      display: none;
    }
  } 

  @media (max-width: 850px) {
    .showFormToggleProfile{
      margin-left: 200px;
    }
  } 

  @media (max-width: 680px) {
    .showFormToggleProfile{
      margin-left: 175px;
    }
  } 


  @media (max-width: 725px) {
    .showFormToggleProfile{
      margin-left: 150px;
    }
  } 

  @media (max-width: 500px) {
    .showFormToggleProfile{
      margin-left: 100px;
    }
  } 

   @media (max-width: 500px) {
  
    .searchBar{
    position: absolute;
    left: 0;
    }
  }  

  @media (max-width: 350px) {
.AddRecipe{
   margin-left: -60px 
}
  }  

  @media (max-width: 300px) {
    .AddRecipe{
       margin-left: -50px 
    }
      }  

  @media (min-width: 1002px) {
    .myRecipes {
      margin-left: 0px;
    }
  } 


  @media (max-width: 1000px) {
    .creatorDetails {
      margin-left: 0px;
    }
  } 

  @media (max-width: 800px) {
    .creatorDetails {
      position: relative;
      margin-left: 30vw;
      flex-direction: row;
      padding: 0px;
      font-size: x-small;
      background-color: white;
    }
    #creatorImage{
      height: 5vh;
    }
  } 

  @media (max-width: 400px) {
    .searchBar {
      max-width: 370px;
    }
  } 

  @media (max-width: 380px) {
    .searchBar {
      max-width: 350px;
    }
  } 

  @media (max-width: 355px) {
    .searchBar {
      max-width: 310px;
    }
  } 

  @media (max-width: 330px) {
    .searchBar {
      max-width: 300px;
    }
  } 

  @media (max-width: 300px) {
    .searchBar {
      max-width: 280px;
    }
  } 